:root {
  color-scheme: light;
  --bg-color: white;
  --bg-color-dark: black;
}

body {
  color: light-dark(var(--bg-color, black), var(--bg-color-dark, white));
  background-color: light-dark(
    var(--bg-color, white),
    var(--bg-color-dark, black)
  );
}
